body {
  font-size: 16px;
  margin: 0;
}

h1,
.heading-01 {
  font-weight: 300 !important;
  font-size: $text-06 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

h2,
.heading-02 {
  font-weight: 300 !important;
  font-size: $text-05 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

h3,
.heading-03 {
  font-weight: 300 !important;
  font-size: $text-04 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

h4,
.heading-04 {
  font-weight: normal !important;
  font-size: $text-03 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

h5,
.heading-05 {
  font-weight: normal !important;
  font-size: $text-02 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

h6,
.heading-06 {
  font-weight: normal !important;
  font-size: $text-01 !important;
  color: $green-60 !important;
  font-family: $font-primary;
}

.heading-07 {
  font-weight: bold;
  font-size: $text-00;
}

.label {
  display: block;
  font-size: $text-00;
}

p,
span,
button {
  font-size: $text-01;
  color: $green-60 !important;
}

a {
  color: $blue-10;
  text-decoration: none;
  transition: color 300ms ease;

  &:hover {
    color: $green-60 !important;
  }
}
