@import "variables";

.btn-outline-primary {
    color: $primary !important;
}
.btn-outline-primary:hover {
    color: $light !important;
}

button {
    color: $light !important;
    font-weight: 300 !important;
}
button:focus,
button:hover,
button:active {
    box-shadow: none !important;
}
