@import "variables";

.btn-outline-primary {
    color: $primary !important;
}
.btn-outline-primary:focus {
    background-color: $green-50;
    color: $light !important;
    border-radius: $radius !important;
    border-color: $green-50 !important;
}
.btn-outline-primary:hover {
    background-color: $green-50 !important;
    color: $light !important;
    border-radius: $radius !important;
    border-color: $green-50 !important;
}
.btn-primary {
    background-color: $green-50 !important;
    border-color: $green-50 !important;
}
.btn-primary:hover {
    background-color: $green-60 !important;
    border-color: $green-60 !important;
}

button {
    color: $light !important;
    font-weight: 300 !important;
}
button:focus,
button:hover,
button:active,
input:focus {
    box-shadow: none !important;
}

.border-bottom-custom {
    border-bottom: 1px solid $green-60 !important;
}

.title {
    border-bottom: 1px solid $green-60 !important;
    width: max-content;
}
