@import "variables";
@import "utils";
@import "type";
@import "ui";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.App {
  background: linear-gradient(to right, #41e48b, $green-40);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

@import "./components/Navbar/navbar.scss";
@import "./components/Card/card.scss";
@import "./screens/Sheet/sheet.scss";
@import "./components/TooltipBtn/custom-tooltip.scss";
