@import "variables";
@import "utils";
@import "type";
@import "ui";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.App {
  background: $green-40;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

@import "./screens/Home/home.scss";
@import "./components/Navbar/navbar.scss";
