@import "./sass/variables";
@import "./sass/utils";
@import "./sass/type";
@import "./sass/ui";
@import "./sass/anim";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.App {
  background: $bg;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


