@import "variables";

* {
  font-family: $font-primary;
  color: $text-color;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue-40;
  // font-weight: 400 !important;
}

h1 {
  font-size: $text-04 !important;
}
h2 {
  font-size: $text-03 !important;
}
h3 {
  font-size: $text-02 !important;
}
h4 {
  font-size: $text-01 !important;
}
h5 {
  font-size: $text-00 !important;
}
h6 {
  font-size: $text-00 !important;
}



