@import "variables";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.center-h {
  display: flex;
  justify-content: center;
}

.full {
  height: 100%;
  overflow: auto;
}

.half {
  height: 50%;
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}