@import "../../sass/variables";

.table {
    position: relative;

    input {
        width: 200px;
    }

    &-actions {
        width: 100%;
        margin-right: 3px;
        .button {
            margin: 0 2px;
        }
    }

    &-label {
        font-size: 12px;
        font-weight: 600 !important;
    }

    &-row {
        border-bottom: 1px solid darken($blue-00, 8%);
        padding: 8px 0;
        cursor: pointer;
        &:hover {
            box-shadow: 1px 1px 2px $grey-10;
            border-radius: $radius;
        }

        &.no-hover:hover {
            box-shadow: none;
            border-radius: none;
        }
    }

    &-selected-msg {
        font-size: 12px;
        color: $blue-10;
        margin: 5px;
    }

    // &-header {
    //     position: absolute;
    //     width: 100%;
    // }

    &-content {
        // margin-top: 38px;
        max-height: 56vh;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: lighten($blue-10, 25%);
            border-radius: $radius;
        }
        &::-webkit-scrollbar-thumb {
            background: $blue-10;
            border-radius: $radius;
        }
    }

    &-mobile-btn {
        font-size: 12px;
    }
}