@import "../../sass/variables";

.logo {
    // border: 1px solid red;

    position: relative;
    width: 200px;
    z-index: 2;
    color: $blue-30;
    font-weight: 400 !important;

    &-group-container {
        position: absolute;
        right: 55px;
        top: -40%;
        z-index: 1;
    }

    &-group {
        color: $blue-10;
        display: flex;
        align-items: flex-end;
        position: relative;

        &-overlay {
            position: absolute;
            right: -80%;
            bottom: 0;
            color: $blue-30;
            font-weight: 400 !important;
        }
    }

    &-sm {
        font-size: $text-02 !important;
        .logo-group-container {
            top: -35%;
            right: 88px;
        }
        .logo-group {
            &-overlay {
                right: -90%;
                bottom: -1px;
            }
        }
    }
}
