@import "//variables";

.custom-tooltip {
    width: min-content;
}

.__react_component_tooltip {
    box-shadow: $shadow;
    span {
        color: $green-60 !important;
        font-family: $font-primary;
    }
}