@import "//variables";

.date-picker {
    border: 1px solid lightgrey;
    padding: 6.2px;
    border-radius: $radius;
    width: 100% !important;
    box-shadow: none !important;
    outline: none !important;
}
.date-picker:focus {
    border: $green-30 1px solid;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
    width: 100% !important;
}