@import "//variables";

.navbar {
    box-shadow: 0px 1px 5px $shadow-color;
}

.dropdown-menu {
    border: none !important;
    box-shadow: $shadow;
}

.navbar-dropdown {
    button {
        width: 30vw !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid $success;
        border-radius: 0px;
    }
    .dropdown-btn {
        display: block;
        border: none;
        text-align: center;
        width: 30vw !important;
        border: none;
    }
}
