@import "//variables";

.navbar {
    box-shadow: 0px 3px 12px $shadow-color;
}

.navbar-dropdown {
    button {
        width: 30vw !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown-btn {
        display: block;
        border: none;
    }
}
